.section {
  margin-bottom: 8px;
  background-color: darkgray;
}

.section_items {
  padding: 4px;
  max-height: 300px;
  overflow-y: auto;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: dimgray;
  border: 1px solid darkgray;
  padding: 4px 8px;
}

.section_header:hover {
  opacity: 0.8;
}