.map_item {
  position: absolute;
}

.map_item_name {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-shadow: 0 1px 2px #000;
  white-space: nowrap;
  pointer-events: none;
}

.map_item img {
  display: block;
}

.highlighted .map_item {
  background-color: rgba(217, 216, 216, 0.2);
}
